@import url('https://fonts.googleapis.com/css?family=Nunito');
.sample2 {
  background: #000;
}
.ariel {
  height: 100%;
}
.ariel .bryan {
  height: 50%;
}
.jasper {
  width: 100%;
}
.jasper .garcera {
  width: 50%;
}
